<template>
  <v-layout
    id="content"
    column
  >
    <v-breadcrumbs>
      <v-breadcrumbs-item to="search">Explore</v-breadcrumbs-item>
      <v-breadcrumbs-item>{{ Name }}</v-breadcrumbs-item>
    </v-breadcrumbs>
    <v-card id="text">
      <v-card-media
        :src="Picture1"
        height="352px"
      />
      <v-card-title>
        <div>
          <h1 v-text="Name"/>
          <div>
            <v-chip>{{ classList[Class1] }}</v-chip>
            <v-chip v-if="Class2">{{ classList[Class2] }}</v-chip>
          </div>
          <div class="content--item__info">
            <v-icon>fas fa-map-marker-alt</v-icon>
            <span>{{ Zone }}</span>
            <template v-if="Ticketinfo">
              <v-icon>fas fa-ticket-alt</v-icon>
              <span>{{ Ticketinfo }}</span>
            </template>
          </div>
          <div v-text="Description"/>
        </div>
      </v-card-title>
    </v-card>
  </v-layout>
</template>
<style lang="postcss">
#content {
  & > * {
    margin-bottom: 24px;
  }
  & .v-breadcrumbs {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    background-color: var(--white-darken-2);
    border-radius: 4px;
  }
  & #text {
    & .v-card__title {
      flex-grow: 1;
        & > div > *:not(:last-child) {
          margin-bottom: 16px;
        }
        & .v-chip {
          font-size: 16px;
          line-height: 19px;
          margin: 0;
          &:not(:last-child) {
            margin-right: 8px;
          }
        }
        & .content--item__info {
          color: var(--white-darken-4);
          font-size: 16px;
          line-height: 19px;
          & > * {
            vertical-align: middle;
          }
          & > *:not(:last-child) {
            margin-right: 8px;
          }
          & .v-icon:not(:first-child) {
            margin-left: 20px;
          }
        }
    }
    & h1 {
      color: var(--accent-color);
    }
    &:not(h1) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
</style>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Content',
  data () {
    return { ...this.$route.params.data }
  },
  computed: mapState(['classList'])
}
</script>
