<template>
  <v-layout
    id="search"
    column
  >
    <v-flex id="search--criteria">
      <div id="search--criteria__text">
        Showing <span id="search--criteria__num">{{ filteredData.length }}</span> results <span v-if="zones || categories.length">by...</span>
      </div>
      <div id="search--criteria__criteria">
        <v-chip
          v-if="zones"
          close
          outline
          color="purple"
          @input="$store.commit('SetCriteria', { zones: '' })"
        >{{ zones }}</v-chip>
        <v-chip
          v-for="(key, index) in categories"
          :key="key"
          close
          outline
          color="purple"
          @input="$store.commit('SetCriteria', state => state.categories.splice(index, 1))"
        >{{ classList[key] }}</v-chip>
      </div>
    </v-flex>
    <v-flex id="search--items">
      <v-card
        v-for="(item, index) in pageData"
        v-if="item"
        :key="index"
        :to="{ name: 'content', params: { data: item } }"
      >
        <v-layout class="search--item">
          <v-card-media :src="item.Picture1"/>
          <v-card-title>
            <div>
              <h1 v-text="item.Name"/>
              <div class="search--item__desc">{{ item.Description }}</div>
              <div>
                <v-chip>{{ classList[item.Class1] }}</v-chip>
                <v-chip v-if="item.Class2">{{ classList[item.Class2] }}</v-chip>
              </div>
              <div class="search--item__info">
                <v-icon>fas fa-map-marker-alt</v-icon>
                <span>{{ item.Zone }}</span>
                <template v-if="item.Ticketinfo">
                  <v-icon>fas fa-ticket-alt</v-icon>
                  <span>{{ item.Ticketinfo }}</span>
                </template>
              </div>
            </div>
          </v-card-title>
        </v-layout>
      </v-card>
    </v-flex>
    <v-pagination
      :length="totalPage"
      v-model="currentPage"
      :total-visible="pagination"
    />
  </v-layout>
</template>

<style lang="postcss">
@import "../assets/_variables.pcss";

#search {
  & > * {
    padding-bottom: 24px;
  }
  & #search--criteria {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: black;
    flex-grow: 0;
    & #search--criteria__text {
      & #search--criteria__num {
        color: var(--accent-color);
        font-weight: bold;
      }
    }
  }
  & #search--items {
    flex-grow: 0;
    & > *:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  & .search--item {
    flex-direction: column;
    & .v-card__media {
      min-height: 196px;
    }
    & .v-card__title {
      align-items: baseline;
      flex-grow: 1;
      padding: 24px 20px;
      & > div > *:not(:last-child) {
        margin-bottom: 16px;
      }
      & .search--item__desc {
        font-size: 16px;
        font-weight: 400;
        color: black;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
      }
      & .v-chip {
        font-size: 16px;
        line-height: 19px;
        margin: 0;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
      & .search--item__info {
        color: var(--white-darken-4);
        font-size: 16px;
        line-height: 19px;
        & > * {
          vertical-align: middle;
        }
        & > *:not(:last-child) {
          margin-right: 8px;
        }
        & .v-icon:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
    & h1 {
      color: var(--accent-color);
      font-weight: bold;
    }
  }
}

@media (--mobile) {
  #search {
    & #search--criteria__text {
      display: none;
    }
    & #search--items {
      margin-bottom: 24px;
    }
    & .v-pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 0;
      justify-content: center;
    }
  }
}

@media (--pad) {
  #search {
    & .search--item {
    }
  }
}

@media (--desktop) {
  #search {
    & .search--item {
      flex-direction: row;
      & .v-card__media {
        height: auto;
        width: 220px;
        flex-shrink: 0;
      }
    }
  }
}
</style>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'Search',
  data () {
    return {
      pagination: 5
    }
  },
  computed: {
    ...mapState([
      'categories',
      'classList',
      'pageLimit',
      'zones'
    ]),
    ...mapGetters(['filteredData']),
    pageData () {
      const array = []
      const offset = this.$store.state.pageLimit * (this.currentPage - 1)
      for (let i = 0; i < 3; i++) {
        array.push(this.$store.getters.filteredData[offset + i])
      }
      return array
    },
    currentPage: {
      get () {
        return this.$store.state.currentPage
      },
      set (currentPage) {
        this.$store.commit('Update', { currentPage })
      }
    },
    totalPage () {
      return Math.ceil(this.filteredData.length / this.pageLimit)
    }
  },
  mounted () {
    const checkWidth = () => {
      if (window.innerWidth < 768) {
        this.pagination = 5
      } else if (window.innerWidth < 1200) {
        this.pagination = 7
      } else {
        this.pagination = 10
      }
    }
    addEventListener('resize', checkWidth)
    checkWidth()
  }
}
</script>
