<template>
  <v-layout
    id="sidebar"
    column
  >
    <div :class="['inside-margin', !expandZone && 'inactive']">
      <v-expansion-panel expand>
        <v-expansion-panel-content v-model="expandZone">
          <div slot="header">Zone</div>
          <v-select
            v-model="zones"
            :items="zoneList"
            dense
            hide-details
            single-line
          />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </div>
    <div :class="['inside-margin', !expandCategories && 'inactive']">
      <v-expansion-panel expand>
        <v-expansion-panel-content v-model="expandCategories">
          <div slot="header">Categories</div>
          <template v-for="(value, key) in classList">
            <v-checkbox
              v-model="categories"
              :label="value"
              :value="key"
              :key="key"
              hide-details
            />
          </template>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </div>
  </v-layout>
</template>
<style lang="postcss">
@import "../assets/_variables.pcss";

#app {
  & #sidebar {
    background-color: var(--white-darken-2);
    & .v-expansion-panel {
      box-shadow: none;
      & .v-expansion-panel__container {
        background-color: transparent;
      }
      & .v-expansion-panel__header {
        font-family: Roboto !important;
        font-size: 20px;
        font-weight: bold;
        color: dark;
        align-items: baseline;
        height: auto;
        padding: 0;
      }
    }
    & .v-input {
      margin-top: 0;
    }
  }
}
@media (--mobile) {
  #app {
    & #sidebar {
      flex-grow: 0;
      padding: 0;
      &.app-section {
        padding: 0;
      }
      & .inside-margin {
        padding: 24px 40px;
        border-bottom: 1px solid var(--white-darken-4);
        &:first-child {
          border-top: 1px solid var(--white-darken-4);
        }
        &.inactive {
          background-color: var(--white-darken-3);
        }
      }
    }
  }
}

@media (--pad) {
  #app {
    & #sidebar {
      align-self: baseline;
      flex-shrink: 0;
      & .inside-margin:not(:last-child) {
        padding-bottom: 24px;
      }
      & .v-expansion-panel__header {
        pointer-events: none;
        & .header__icon {
          display: none;
        }
      }
    }
  }
}
</style>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Sidebar',
  data () {
    return {
      expandCategories: true,
      expandZone: true,
      zoneList: [
        '三民區',
        '內門區',
        '美濃區',
        '大樹區',
        '小港區',
        '六龜區',
        '仁武區',
        '左營區',
        '田寮區',
        '永安區',
        '甲仙區',
        '鼓山區',
        '杉林區',
        '岡山區',
        '前鎮區',
        '新興區',
        '苓雅區',
        '茂林區',
        '茄萣區',
        '梓官區',
        '旗津區',
        '桃源區',
        '楠梓區',
        '前金區',
        '鳳山區',
        '旗山區',
        '橋頭區',
        '燕巢區',
        '彌陀區',
        '鹽埕區',
        '鳥松區',
        '阿蓮區',
        '大寮區',
        '林園區',
        '那瑪夏區',
        '大社區',
        '湖內區',
        '路竹區'
      ]
    }
  },
  computed: {
    ...mapState(['classList']),
    categories: {
      get () {
        return this.$store.state.categories
      },
      set (value) {
        this.$store.commit('SetCriteria', { categories: value })
      }
    },
    zones: {
      get () {
        return this.$store.state.zones
      },
      set (value) {
        this.$store.commit('SetCriteria', { zones: value })
      }
    }
  },
  mounted () {
    const checkWidth = () => {
      if (window.innerWidth < 768) {
        this.expandCategories = false
        this.expandZone = false
      } else {
        this.expandCategories = true
        this.expandZone = true
      }
    }
    addEventListener('resize', checkWidth)
    checkWidth()
  }
}
</script>
