:root {
  --primary-color: #7828B4;
  --accent-color: #9013FE;
  --white-darken-1: #f2f2f2;
  --white-darken-2: #ebebeb;
  --white-darken-3: #d7d7d7;
  --white-darken-4: #9b9b9b;

  --sidebar-width: 300px;
}
@custom-media --mobile (width < 768px);
@custom-media --pad (width >= 768px);
@custom-media --desktop (width >= 1200px);
