<template>
  <v-app id="app">
    <v-layout id="titlebar">
      <v-layout class="wrapper">
        <v-layout
          id="titlebar--logo"
          class="app-section sidebar"
        ><img :src="logo"></v-layout>
        <v-layout
          id="titlebar--search"
          class="app-section"
        >
          <v-text-field
            hide-details
            single-line
            prepend-icon="fas fa-search"
          />
        </v-layout>
      </v-layout>
    </v-layout>
    <v-layout id="container">
      <v-layout class="wrapper">
        <Sidebar class="app-section sidebar"/>
        <router-view class="app-section"/>
      </v-layout>
    </v-layout>
  </v-app>
</template>

<script>
import Sidebar from '@/components/Sidebar'

import logo from '@/assets/logo.svg'

export default {
  name: 'App',
  components: {
    Sidebar
  },
  data () {
    return {
      logo
    }
  },
  mounted () {
    // full dump data
    this.$store.dispatch('Dump')
  }
}
</script>

<style lang="postcss">
@import "assets/_variables.pcss";

#app {
  background-color: var(--white-darken-1);
  & #titlebar {
    & #titlebar--logo {
      & img {
        vertical-align: middle;
      }
    }
    & #titlebar--search {
      & .v-text-field {
        margin: 0;
      }
    }
  }
}
@media (--mobile) {
  #app {
    & .app-section {
      padding: 0 40px;
    },
    & #titlebar {
      flex-grow: 0;
      & #titlebar--logo {
        text-align: center;
        background-color: var(--primary-color);
        height: 69px;
      }
      & #titlebar--search {
        align-items: center;
        height: 55px;
      }
    }
    & .wrapper {
      flex-direction: column;
    }
  }
}
@media (--pad) {
  #app {
    & .app-section {
      padding: 24px 40px;
    }
    & .sidebar {
      flex-grow: 0;
      width: var(--sidebar-width);
    }
    & #titlebar {
      align-items: center;
      max-height: 92px;
      background-color: var(--primary-color);
    }
    & #container {
      flex-grow: 0;
    }
    & #titlebar--search {
      max-width: 390px;
    }
  }
}
@media (--desktop) {
  #app {
    & .sidebar {
      margin-left: 40px;
    }
    & #titlebar,
    & #container {
      justify-content: center;
      & .wrapper {
        max-width: 1200px;
      }
    }
  }
}
</style>
